header {
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    width: 20%;
    margin: 24px 16px;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right {
    display: flex;
    justify-content: end;
    align-items: center;
}

header a {
    color: #d0d0d0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.githubIcon:hover {
    color: #727272;
}

.linkedinIcon:hover {
    color: #3014d4;
}

.instaIcon:hover {
    color: #d00f8c;
}

.mailIcon:hover {
    color: #d63232;
}